/* ****************** */
/* S E A R C H  B O X */
/* ****************** */
a,a:hover{
    text-decoration: none;
}
.searchBox{
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchText{
    width: 2rem;
    height: 2rem;
    padding: 0rem;
    border-radius: 5rem;
    border:none;
    outline: none;
    transition: all 0.2s linear;
}
.searchText:focus {
    outline: none;
}
.searchBtn{
    width: 2rem;
    height: 2rem;
    background-color: #192A56;
    color: #fff;
    position: absolute;
    right: 0rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.searchBox:hover > .searchText{
    height: 2rem;
    width: 12rem;
    padding: 0 1rem;
    box-shadow: 0 0 0 .05rem rgba(0, 0, 0, 0.5);
}
.searchBox:hover >.searchBtn{
    background: #fff;
    color: royalblue;
}

/* ***************** */
/*      T A B L E    */
/* ***************** */
.tableC, .tableChapaLC{
    width: 48%;
    height: 41vh;
}
.card-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}
.card-body-img img{
    height: 30%;
    width: auto;
}
.card-body-table{
    width: 70%;
    height: 30vh;
    overflow-y: auto;    
}