*{
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: 
    linear-gradient(0deg, rgba(0,0,0,.3), rgba(20,20,20,.3)),
    url("https://images.pexels.com/photos/2929244/pexels-photo-2929244.jpeg");
    }
.form-box{
    position: relative;
    width: 25rem;
    height: 28rem;
    background: transparent;
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(15px);  
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    font-size: 2em;
    color: var(--text-color);
    text-align: center;   
}
.inputbox {
    position: relative;
    margin: 2rem 0 1rem;
    width: 18rem;
    border-bottom: 2px solid var(--text-color);
}
.inputbox label {
    position: absolute;
    top: -2px;
    left: 5px;
    transform: translateY(-50%);
    color:var(--text-color);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background:transparent;
    border:none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color:var(--text-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}
.inputbox i{
    position:absolute;
    top:0.75rem;
    right: 8px;
    color:var(--text-color);
    font-size: 20px;
}
#submitLogin{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .form-box{
        width: 75vw;
        height: 45vh;        
    }
    .inputbox{
        width: 60vw;
    }
}